NODE_ENV=production

FRONTEND_URL=https://moncvpro.com
NEXT_PUBLIC_API_URL=https://api.moncvpro.com/api/v1
NEXT_PUBLIC_BACKEND_URL=https://api.moncvpro.com
NEXT_PUBLIC_CDN_URL=https://cdn.moncvpro.com

NEXT_PUBLIC_GA_ID=YOUR_GA_ID
NEXT_PUBLIC_MIXPANEL_TOKEN=YOUR_MIXPANEL_TOKEN
