# API URL (Backend)
NEXT_PUBLIC_API_URL="http://localhost:3001/api"

# Frontend URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Monitoring (Optional)
NEXT_PUBLIC_SENTRY_DSN=""

# Mixpanel (Optional)
NEXT_PUBLIC_MIXPANEL_TOKEN=""
